<!DOCTYPE html>
        <html>
                <head>
                        <title>{{ page.title }}</title>
                        <link rel="stylesheet" type="text/css" href="/senior-project/css/main.css">
                </head>
                <body>
                        <div id="content">
                        <div class="bg-gray-light">

                        <header class="py-4 py-md-6">
                                <div class="container-lg p-responsive mx-auto text-center pt-6">
                                        <h1 class="alt-h1">Senior Project</h1>
                                        <p class="alt-lead text-gray mb-md-5 col-md-8 mx-auto">
                                        Welcome to Santiago Gutierrez's 2018-19 Senior Project online portfilio!
                                        </p>
                                </div>
                        </header>

                        <div class="container-lg p-responsive pb-6">
                        <div class="gutter-sm d-flex flex-wrap flex-items-stretch pb-md-6">
      
      
      <div class="col-12 col-sm-9 mx-auto col-md-6 mt-4 mt-lg-5">
        <a href="/link/" class="guide-cover contribute card height-full d-block">

          <div class="lh-none guide-cover-img text-center pt-4">
            <img src="image" class="" alt="Card Title illustration">
          </div>

          <div class="flex-self-end p-4 text-center p-lg-5">
            <h3 class="alt-h3 text-bold lh-condensed mb-2 text-black">
              Card Title
            </h3>
            <div class="mb-0 text-gray">
              <p>Card description.</p>

            </div>
          </div>

        </a>
      </div>
      
      <div class="col-12 col-sm-9 mx-auto col-md-6 mt-4 mt-lg-5">
        <a href="/link/" class="guide-cover beginners card height-full d-block">

          <div class="lh-none guide-cover-img text-center pt-4">
            <img src="image" class="" alt="Card Title illustration">
          </div>

          <div class="flex-self-end p-4 text-center p-lg-5">
            <h3 class="alt-h3 text-bold lh-condensed mb-2 text-black">
              Card Title
            </h3>
            <div class="mb-0 text-gray">
              <p>Card description.</p>

            </div>
          </div>

        </a>
      </div>
      
      <div class="col-12 col-sm-9 mx-auto col-md-6 mt-4 mt-lg-5">
        <a href="/link/" class="guide-cover finding card height-full d-block">

          <div class="lh-none guide-cover-img text-center pt-4">
            <img src="image" class="" alt="Card Title illustration">
          </div>

          <div class="flex-self-end p-4 text-center p-lg-5">
            <h3 class="alt-h3 text-bold lh-condensed mb-2 text-black">
              Card Title
            </h3>
            <div class="mb-0 text-gray">
              <p>Card description.</p>

            </div>
          </div>

        </a>
      </div>
      
      <div class="col-12 col-sm-9 mx-auto col-md-6 mt-4 mt-lg-5">
        <a href="/link/" class="guide-cover building card height-full d-block">

          <div class="lh-none guide-cover-img text-center pt-4">
            <img src="image" class="" alt="Card Title illustration">
          </div>

          <div class="flex-self-end p-4 text-center p-lg-5">
            <h3 class="alt-h3 text-bold lh-condensed mb-2 text-black">
              Card Title
            </h3>
            <div class="mb-0 text-gray">
              <p>Card description.</p>

            </div>
          </div>

        </a>
      </div>
      
      <div class="col-12 col-sm-9 mx-auto col-md-6 mt-4 mt-lg-5">
        <a href="/link/" class="guide-cover best-practices card height-full d-block">

          <div class="lh-none guide-cover-img text-center pt-4">
            <img src="image" class="" alt="Card Title illustration">
          </div>

          <div class="flex-self-end p-4 text-center p-lg-5">
            <h3 class="alt-h3 text-bold lh-condensed mb-2 text-black">
              Card Title
            </h3>
            <div class="mb-0 text-gray">
              <p>Card description.</p>
              
            </div>
          </div>

        </a>
      </div>
      
      <div class="col-12 col-sm-9 mx-auto col-md-6 mt-4 mt-lg-5">
        <a href="/link/" class="guide-cover leadership card height-full d-block">

          <div class="lh-none guide-cover-img text-center pt-4">
            <img src="image" class="" alt="Card Title illustration">
          </div>

          <div class="flex-self-end p-4 text-center p-lg-5">
            <h3 class="alt-h3 text-bold lh-condensed mb-2 text-black">
              Card Title
            </h3>
            <div class="mb-0 text-gray">
              <p>Card description.</p>

            </div>
          </div>

        </a>
      </div>
      
      <div class="col-12 col-sm-9 mx-auto col-md-6 mt-4 mt-lg-5">
        <a href="/link/" class="guide-cover getting-paid card height-full d-block">

          <div class="lh-none guide-cover-img text-center pt-4">
            <img src="image" class="" alt="Card Title illustration">
          </div>

          <div class="flex-self-end p-4 text-center p-lg-5">
            <h3 class="alt-h3 text-bold lh-condensed mb-2 text-black">
              Card Title
            </h3>
            <div class="mb-0 text-gray">
              <p>Card description.</p>

            </div>
          </div>

        </a>
      </div>
      
      <div class="col-12 col-sm-9 mx-auto col-md-6 mt-4 mt-lg-5">
        <a href="/link/" class="guide-cover coc card height-full d-block">

          <div class="lh-none guide-cover-img text-center pt-4">
            <img src="image" class="" alt="Card Title illustration">
          </div>

          <div class="flex-self-end p-4 text-center p-lg-5">
            <h3 class="alt-h3 text-bold lh-condensed mb-2 text-black">
              Card Title
            </h3>
            <div class="mb-0 text-gray">
              <p>Card description.</p>

            </div>
          </div>

        </a>
      </div>
      
      <div class="col-12 col-sm-9 mx-auto col-md-6 mt-4 mt-lg-5">
        <a href="/link/" class="guide-cover metrics card height-full d-block">

          <div class="lh-none guide-cover-img text-center pt-4">
            <img src="image" class="" alt="Card Title illustration">
          </div>

          <div class="flex-self-end p-4 text-center p-lg-5">
            <h3 class="alt-h3 text-bold lh-condensed mb-2 text-black">
              Card Title
            </h3>
            <div class="mb-0 text-gray">
              <p>Card description.</p>

            </div>
          </div>

        </a>
      </div>
      
      <div class="col-12 col-sm-9 mx-auto col-md-6 mt-4 mt-lg-5">
        <a href="/link/" class="guide-cover legal card height-full d-block">

          <div class="lh-none guide-cover-img text-center pt-4">
            <img src="image" class="" alt="Card Title illustration">
          </div>

          <div class="flex-self-end p-4 text-center p-lg-5">
            <h3 class="alt-h3 text-bold lh-condensed mb-2 text-black">
              Card Title
            </h3>
            <div class="mb-0 text-gray">
              <p>Card description.</p>

            </div>
          </div>

        </a>
      </div>
      
                        </div>
                        </div>

                        </div>

                        <footer>
                        </footer>

                        </div>
                </body>
        </html>
